---
import "@fontsource/monoton";

interface Props {
  text: string;
  className?: string;
}

const { text, className } = Astro.props;
---

<h2 class=`absolute right-2 md:right-16 top-8 text-7xl md:text-9xl pointer-events-none ${className}`>
  {text}
</h2>

<style>
  h2 {
    font-family: "Monoton", system-ui;
  }
</style>
