---
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import profilePic from "../assets/avatar.webp";
import Title from "../components/Title.astro";
import BlurryShape from "../components/BlurryShape.astro";

const now = new Date();

const formatter = new Intl.DateTimeFormat("es-CL", {
  hour: "numeric",
  minute: "numeric",
  hour12: true,
  timeZone: "America/Santiago",
});

const timeNow = formatter.format(now);
---

<article id="hero" class="relative">
  <Title text="PROFILE" className="text-primary-500/50" />
  <BlurryShape
    color="#ffd900a1"
    className="bottom-0 left-0 transform -translate-x-1/2 -translate-y-0"
  />
  <section class="pt-20 grid grid-cols-12 gap-2 md:gap-4">
    <div
      class="col-span-12 lg:col-span-3 grid grid-cols-2 lg:grid-cols-none lg:grid-rows-4 lg: grid-flow-col gap-x-2 md:gap-x-4 lg:gap-x-0 lg:gap-y-4 order-2 lg:order-1"
    >
      <Card
        className="col-span-1 lg:col-span-none lg:row-span-2 !bg-gray-600/50 text-white"
      >
        <>
          <p class="text-xl xl:text-2xl pb-2 text-pretty">
            <span class="font-semibold">Geek, developer, roleplayer</span>
            always hungry for growth. Passionate about
            <span class="font-semibold">code, community,</span>
            and embracing the
            <span class="font-semibold">joy of tech.</span>
          </p>
          <p class="text-xl xl:text-xl text-pretty">
            This is my space, where I am an
            <span class="font-semibold">architect, painter, decorator, and reviewer</span>, but also an  
           <span class="font-semibold">user.</span>
          </p>
        </>
      </Card>
      <Card link className="col-span-1 lg:col-span-0 lg:row-span-2">
        <p>BLOG POST :D</p>
      </Card>
    </div>
    <div
      class="col-span-12 lg:col-span-9 grid grid-cols-12 grid-rows-4 gap-2 md:gap-4 order-1 lg:order-2"
    >
      <div
        class="order-1 md:order-none col-span-8 row-span-1 grid grid-cols-2 gap-x-2 md:gap-x-4"
      >
        <Card
          className="col-span-1 text-light flex justify-center items-center text-center py-6"
        >
          <div class="flex flex-col justify-center items-center">
            <p class="text-3xl xl:text-5xl font-bold">3+</p>
            <p class="text-sm md:text-lg break-words xl:break-normal">
              Years exp.
            </p>
          </div>
        </Card>
        <Card
          className="col-span-1 text-light flex justify-center items-center text-center py-6"
        >
          <div class="flex flex-col justify-center items-center">
            <p class="text-3xl xl:text-5xl font-bold">9+</p>
            <p class="text-sm md:text-lg">Projects</p>
          </div>
        </Card>
      </div>
      <div
        class="order-6 md:order-none col-span-8 md:col-span-4 row-span-1 md:row-span-2 grid grid-cols-2 gap-2 md:gap-4"
      >
        <a
          href="https://github.com/KevinCastle"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            className="flex justify-center items-center text-center !bg-gray-700/50 hover:!bg-gray-700/60 h-full w-full !p-3"
          >
            <Icon name="githubLogoFill" size="3rem" className="mx-auto" />
          </Card>
        </a>
        <a
          href="https://www.linkedin.com/in/kevin-castillo11/"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            className="flex justify-center items-center text-center !bg-[#0A66C2]/50 hover:!bg-[#0A66C2]/60 h-full w-full !p-3"
          >
            <Icon name="linkedinLogoFill" size="3rem" className="mx-auto" />
          </Card>
        </a>
        <a
          href="https://www.threads.net/@kevcastles.dev"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            className="flex justify-center items-center text-center !bg-[#d62976]/50 hover:!bg-[#d62976]/60 h-full w-full !p-3"
          >
            <Icon name="instagramLogoFill" size="3rem" className="mx-auto" />
          </Card>
        </a>
        <a
          href="https://tiktok.com/@kevcastles.dev"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            className="flex justify-center items-center text-center !bg-[#00F2EA]/50 hover:!bg-[#00F2EA]/60 h-full w-full !p-3"
          >
            <Icon name="tiktokLogoFill" size="3rem" className="mx-auto" />
          </Card>
        </a>
      </div>
      <Card
        className="order-3 md:order-none col-span-8 row-span-2 sm:!p-0 !bg-accent/20 sm:overflow-visible relative"
      >
        <div class="avatar flex justify-center align-center w-full h-full">
          <div class="flex justify-center items-center">
            <div
              class="avatar__mask w-[100%] sm:w-[70%] lg:w-[80%] xl:w-[70%] 2xl:w-[60%]sm: absolute sm:left-1/2 sm:-translate-x-1/2 sm:-top-4 md:top-auto md:bottom-4 lg:bottom-20 xl:bottom-10 2xl:bottom-9 pointer-events-none"
            >
              <Image
                src={profilePic}
                alt="Kevin Castillo"
                class="object-cover"
              />
            </div>
          </div>
          <div class="absolute bottom-0 left-0">
            <div class="bg-primary-500/[0.85] rounded-t-3xl px-2 pt-2 w-fit">
              <p
                class="text-xl sm:text-3xl lg:text-4xl xl:text-5xl font-bold text-black"
              >
                Kevin Castillo
              </p>
            </div>
            <div
              class="bg-primary-500/[0.85] rounded-se-3xl rounded-es-2xl px-2 pt-1 pb-2"
            >
              <p
                class="text-base sm:text-2xl lg:text-3xl xl:text-4xl font-semibold text-black"
              >
                Frontend web developer
              </p>
            </div>
          </div>
        </div>
      </Card>
      <a
        href="mailto:me@kevcastles.boo"
        target="_blank"
        class="order-5 md:order-none col-span-4 row-span-1 w-full h-full"
      >
        <Card
          link
          className="!bg-pink-400/50 hover:!bg-pink-500/60 text-light flex flex-col justify-center items-center text-center h-full py-6"
        >
          <Icon
            name="envelopeSimpleFill"
            className="w-[40%] sm:w-[30% h-auto mx-auto"
          />
          <p
            class="text-sm md:text-base xl:text-lg break-words xl:break-normal pt-1 lg:pt-0"
          >
            Contact me
          </p>
        </Card>
      </a>
      <a
        href="/"
        class="order-4 md:order-none col-span-4 row-span-1 w-full h-full"
      >
        <Card
          link
          className="!bg-primary-600/50 hover:!bg-primary-500/60 flex flex-col justify-center items-center text-center h-full w-full py-6"
        >
          <Icon
            name="readCvLogoFill"
            className="w-[40%] sm:w-[30%] h-auto mx-auto"
          />
          <p
            class="text-sm md:text-base xl:text-lg break-words xl:break-normal pt-1 lg:pt-0"
          >
            Resume
          </p>
        </Card>
      </a>
      <div
        class="order-2 md:order-none col-span-4 md:col-span-8 row-span-2 md:row-span-1 grid grid-rows-2 md:grid-rows-1 grid-cols-1 md:grid-cols-2 gap-2"
      >
        <Card
          className="row-span-1 flex flex-col justify-center items-center !bg-black/60 hover:!bg-black/70 h-full w-full !p-0"
        >
          <Icon name="mapPinFill" size="2rem" />
          <p
            class="text-sm sm:text-lg pt-2 uppercase font-semibold text-center"
          >
            Santiago, Chile
          </p>
        </Card>
        <Card
          className="row-span-1 flex justify-center items-center text-center !bg-black/60 hover:!bg-black/70 h-full w-full !p-0"
        >
          <p class="text-xl sm:text-3xl uppercase font-semibold">{timeNow}</p>
        </Card>
      </div>
    </div>
  </section>
</article>

<style>
  .avatar__mask {
    clip-path: circle(50% at 50% 50%);
  }

  .font-monoton {
    font-family: "Monoton", cursive;
  }
</style>
