---
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import profilePic from "../assets/avatar.webp";
import Title from "../components/Title.astro";
import BlurryShape from "../components/BlurryShape.astro";

const now = new Date();

const formatter = new Intl.DateTimeFormat("es-CL", {
  hour: "numeric",
  minute: "numeric",
  hour12: true,
  timeZone: "America/Santiago",
});

const timeNow = formatter.format(now);
---

<article id="hero relative">
  <Title text="PROFILE" customClass="right-16 top-8 text-primary-500/50" />
  <BlurryShape color="#ffd900a1" customClass="bottom-16 left-0 lg:bottom-0 lg:left-32" />
  <section class="pt-20 grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-3 grid grid-cols-2 lg:grid-cols-none lg:grid-rows-4 lg: grid-flow-col gap-x-4 lg:gap-x-0 lg:gap-y-4 order-2 lg:order-1">
      <Card customClass="col-span-1 lg:col-span-none lg:row-span-2 !bg-gray-600/50 text-white">
        <div class="d-flex flex-col lg:flex-row">
          <p class="text-xl xl:text-2xl">
            <span class="font-semibold">Geek, developer, roleplayer</span>
            always hungry for growth. Passionate about
            <span class="font-semibold">code, community,</span>
            and embracing the
            <span class="font-semibold">joy of tech.</span>
            Building and sharing great solutions. 🚀
          </p>
        </div>
      </Card>
      <Card link customClass="col-span-1 lg:col-span-0  lg:row-span-2">
        <p>BLOG POST :D</p>
      </Card>
    </div>
    <div class="col-span-12 lg:col-span-9 grid grid-cols-12 grid-rows-4 gap-4 order-1 lg:order-2">
      <div class="col-span-8 row-span-1 grid grid-cols-2 gap-x-4">
        <Card
          customClass="col-span-1 text-light flex justify-center items-center text-center py-6"
        >
          <div class="flex flex-col justify-center items-center">
            <p class="text-3xl xl:text-5xl font-bold">3+</p>
            <p class="text-sm xl:text-lg break-words xl:break-normal">
              Years exp.
            </p>
          </div>
        </Card>
        <Card
          customClass="col-span-1 text-light flex justify-center items-center text-center py-6"
        >
          <div class="flex flex-col justify-center items-center">
            <p class="text-3xl xl:text-5xl font-bold">9+</p>
            <p class="text-sm xl:text-lg">Projects</p>
          </div>
        </Card>
      </div>
      <div class="col-span-4 row-span-2 grid grid-cols-2 gap-4">
        <a
          href="https://github.com/KevinCastle"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            customClass="flex justify-center items-center text-center !bg-gray-700/50 hover:!bg-gray-700/60 h-full w-full !p-3"
          >
            <Icon name="githubLogoFill" size="3rem" customClass="mx-auto" />
          </Card>
        </a>
        <a
          href="https://www.linkedin.com/in/kevin-castillo11/"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            customClass="flex justify-center items-center text-center !bg-[#0A66C2]/50 hover:!bg-[#0A66C2]/60 h-full w-full !p-3"
          >
            <Icon name="linkedinLogoFill" size="3rem" customClass="mx-auto" />
          </Card>
        </a>
        <a
          href="https://www.threads.net/@kevcastles.dev"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            customClass="flex justify-center items-center text-center !bg-[#d62976]/50 hover:!bg-[#d62976]/60 h-full w-full !p-3"
          >
            <Icon name="instagramLogoFill" size="3rem" customClass="mx-auto" />
          </Card>
        </a>
        <a
          href="https://tiktok.com/@kevcastles.dev"
          target="_blank"
          class="w-full h-full"
        >
          <Card
            link
            customClass="flex justify-center items-center text-center !bg-[#00F2EA]/50 hover:!bg-[#00F2EA]/60 h-full w-full !p-3"
          >
            <Icon name="tiktokLogoFill" size="3rem" customClass="mx-auto" />
          </Card>
        </a>
      </div>
      <Card
        customClass="col-span-8 row-span-2 sm:!p-0 !bg-accent/20 overflow-visible relative"
      >
        <div class="avatar flex justify-center align-center w-full h-full">
          <div class="flex justify-center items-center">
            <div
              class="avatar__mask w-[75%] sm:w-[70%] lg:w-[80%] xl:w-[70%] 2xl:w-[60%] absolute left-1/2 -translate-x-1/2 bottom-4 lg:bottom-20 xl:bottom-10 2xl:bottom-9 pointer-events-none"
            >
              <Image
                src={profilePic}
                alt="Kevin Castillo"
                class="object-cover"
              />
            </div>
          </div>
          <div class="absolute bottom-0 left-0">
            <div class="bg-primary-500/[0.85] rounded-t-3xl px-2 pt-2 w-fit">
              <p class="text-3xl lg:text-4xl xl:text-5xl font-bold text-black">
                Kevin Castillo
              </p>
            </div>
            <div
              class="bg-primary-500/[0.85] rounded-se-3xl rounded-es-2xl px-2 pt-1 pb-2"
            >
              <p class="text-2xl lg:text-3xl xl:text-4xl font-semibold text-black">
                Frontend web developer
              </p>
            </div>
          </div>
        </div>
      </Card>
      <a
        href="mailto:me@kevcastles.boo"
        target="_blank"
        class="col-span-4 row-span-1 w-full h-full"
      >
        <Card
          link
          customClass="!bg-pink-400/50 hover:!bg-pink-500/60 text-light flex flex-col justify-center items-center text-center h-full py-6"
        >
          <Icon
            name="envelopeSimpleFill"
            customClass="w-[30%] h-auto mx-auto"
          />
          <p>Contact me</p>
        </Card>
      </a>
      <a href="/" class="col-span-4 row-span-1 w-full h-full">
        <Card
          link
          customClass="!bg-primary-600/50 hover:!bg-primary-500/60 flex flex-col justify-center items-center text-center h-full w-full py-6"
        >
          <Icon
            name="readCvLogoFill"
            customClass="w-[20%] sm:w-[30%] h-auto mx-auto"
          />
          <p>Resume</p>
        </Card>
      </a>
      <div class="col-span-8 row-span-1 grid grid-cols-2 gap-4">
        <Card
          customClass="flex flex-col justify-center items-center !bg-gray-950/50 hover:!bg-gray-950/60 h-full w-full !p-0"
        >
          <Icon name="mapPinFill" size="2rem" />
          <p class="text-sm sm:text-lg pt-2 uppercase font-semibold">
            Santiago, Chile
          </p>
        </Card>
        <Card
          customClass="flex justify-center items-center text-center !bg-gray-950/50 hover:!bg-gray-950/60 h-full w-full !p-0"
        >
          <p class="text-xl sm:text-3xl uppercase font-semibold">{timeNow}</p>
        </Card>
      </div>
    </div>
  </section>
</article>

<style>
  .avatar__mask {
    clip-path: circle(50% at 50% 50%);
  }

  .font-monoton {
    font-family: "Monoton", cursive;
  }
</style>
